.chat-body {
    width: 100%;
    max-width: 770px;
    background-color: #625772;
    display: flex;
    flex-direction: column;
    padding: 0 1vw;
    margin: 14px 0;
    border-radius: 10px;

    &-char {
        width: 100%;
        height: 250px;
        margin: 14px 0;
        background-color: #f9f9f9;
        background-repeat: no-repeat;
        background-position: 50% 10%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #625772;
    }

    &-chatting {
        min-height: 100px;
        height: 400px;
        overflow-y: scroll;
    }

    &-input {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 14px;

        &-usr-message{
            width: calc(100% - 70px);
            border-radius: 10px;
            border: none;
            padding: 0 14px;
            box-sizing: border-box;
            outline: none;
            margin: 0 14px;
            color: #4a4a4a;
            background-color: #f9f9f9;
        }
    }
}

.q-field--filled .q-field__control {
    background: none !important;
}